

	
	
   #header{
			top: 0px;
			right: 0px;
			height: 75px;
			width: 100%;
			background-color :#0FBF23;
			position: absolute;
			border: black solid 1px;
			text-align:center;
    }
	
 #imge{
	 
			top: 75px;
			right: 0px;
			left: 0px;
			
		
			position: absolute;
			border: black solid 1px;
     
}

#sitbar{
        top: 150px;
        left: 0px;
        height: 400px;
        width: 30%;
        background-color : #FA6264;
        position: absolute;
        border: black solid 1px;
        text-align:center;
		text-decoration:none;

    }
 #sitbar a{
	 

	text-decoration:none;
    color: white;
   border:blue solid 0px0px1px0px;

	}
	
	
#content{
        top: 150px;
        left: 30%;
        height: 400px;
        width: 70%;
		right: 0px;
        background-color : #0004F0;
        position: absolute;
        border: black solid 1px;
		text-align:center;
		
		border-bottom:2px solid blue;
    }
	#content img {
	
		margin:5px;
		padding:10px;
	}
	

#footer{
        top: 550px;
        left: 0px;
        height: 100px;
        width: 70%;
        background-color : #E0C50D;
        position: absolute;
        border: black solid 1px;
		text-align:center;
        
    }
#icon{ top: 550px;
        right: 0px;
        height: 100px;
        width: 30%;
        background-color : #94FCE4;
        position: absolute;
        border: black solid 1px;
        height: 100px;
		text-align:center;
		
    }
	#icon img{
		margin-top:5px;
		margin:5px;
		border-radius:500px;
		
	}
